.hero {
    width: 100%;
    background-color: $Accent;
}
.heroInner {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    @media (max-width: 991px) {
        justify-content: center;
    }
    &::after {
        content: url('/img/img.png');
        @media (max-width: 991px) {
            display: none;
        }
    }
}
.heroInner__contentBlock {
    margin: 100px 0;
    @media (max-width: 767px) {
        margin: 50px 0;
    }
}