.feetback {
    width: 100%;
    margin-bottom: 60px;
}
.feetbackInner {
    display: flex;
    justify-content: space-between;
    background-color: $Accent;
    padding: 90px 60px;
    @media (max-width: 991px) {
        justify-content: center;
        padding: 60px 30px;
    }
}
.feetbackInner__ContentBlock {
    margin-left: 46px;
    @media (max-width: 991px) {
        display: none;
    }
}