.sponsorBlock {
    ul {
        display: flex;
        gap: 12px;
        .sponsorBlock__link:hover,
        .sponsorBlock__link:active,
        .sponsorBlock__link:focus {
            color: $Accent;
        }
        @media (max-width: 480px) {
            flex-direction: column;
        }
    }
}