.contentBlock {
    display: flex;
    flex-direction: column;
    gap: 160px;
    @media (max-width: 767px) {
        gap: 100px;
    }
    @media (max-width: 480px) {
        gap: 50px;
    }
}
.miniContentBlock {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
        margin-bottom: 27px;
        text-align: center;
        color: $Dark;
    }
    p {
        margin-bottom: 22px;
        text-align: center;
        max-width: 587px;
        color: $Dark;
    }
    form {
        display: inline-block;
        margin: 0 auto;
        display: flex;
        gap: 0.5rem;
        @media (max-width: 480px) {
            flex-direction: column;
        }
    }
}
.gradeBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    q {
        max-width: 368px;
        text-align: center;
        margin: 20px 0 16px;
        color: $Dark;
        font-size: 1.25rem;
        line-height: 1.5;
        font-weight: 700;
    }
    p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: $Dark;
        span {
            font-size: 0.9375rem;
            color: $DarkOpacity;
        }
    }
}