.mainMenu {
    transition: all .5s ease;
    ul {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    @media screen and (max-width: 1050px) {
        position: fixed;
        margin-right: none;
        top: 0;
        right: -200px;
        background-color: $DarkOpacity;
        backdrop-filter: blur(5px);
        height: 100vh;
        z-index: 1;
        &.show {
            right: 0;
        }
        ul {
            width: 200px;
            padding: 90px 20px;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
            li {
                .link {
                    text-transform: uppercase;
                }
            }
        }
    }
}