.footerMenu {
    ul {
        display: flex;
        gap: 1rem;
        @media (max-width: 700px) {
            flex-direction: column;
        }
        li {
            .footerMenu__link {
                text-transform: uppercase;
            }
        }
    }
}